/* By default, mobile */

.container-narrow {
  margin: 2%;
}

header h1#logo {
  font-size: 2em;
}

#holder h2 {
  font-size: 1.6em;
}

#holder p.lead {
  font-size: 1.2em;
}


#map-canvas, #map_canvas {
  height: 100%;
}
#map-canvas {
	min-width: 320px;
	min-height: 450px;
}

/* Fix para choque entre Google Maps y Bootstrap */

#map-canvas img {
	max-width: none;
}

